*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgb(31, 29, 29);
    text-transform: uppercase;
    text-decoration: none;
}
html{
    width: 100vw;
    height: 100vh;
    font-size: 62,5%;
    justify-content: center;
    align-items: center;
    display: flex;
}    
.super-container{
    display: flex;
    width: 100vw;
    height: 90vh;
}
.left-container{
    display: flex;
    border-right: 1px solid;
    height: 100vh;
    width: 40vw;
    align-items: center;
}
.left-container h1{
    margin-bottom: 30vw;
    font-size: 2vw;
    margin-left: 3vw;
    border-left: solid;
    padding-left: 1vw;
}
.right-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 90vw;
    padding-left: 10vw;
}
.right-container input{
    display: flex;
    height: 5vh;
    width: 35vw;
    margin: 0.5vh 0;
    padding-left: 1vh;
}
.right-container h1{
    margin-bottom: 2vw;
    border-bottom: solid 2px;
}
.right-container button{
    display: flex;
    height: 3vw;
    width: 20vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 255, 0.202);
    border: none;
    border-radius: 0.3vh;
}
#inf{
    font-size: small;
}