*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgb(31, 29, 29);
    text-transform: uppercase;
    text-decoration: none;

}
body{
    overflow-y: visible;
}
html{
    width: 100vw;
    height: 100vh;
    font-size: 62,5%;
    overflow-y: visible;
    overflow-x: visible;
}   
#top-container-image{
    display: flex;
    width: 70vw;
    margin: 3vw;
}
.top-top-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom-top-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bottom-top-container h1{
    margin: 0 0 1vh 0vw;
}
.bottom-top-container h2{
    font-size: 12px;
    width: 20vw;
    text-align:justify;
}
.categories-container{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 5vw;
    margin-bottom: 10vw;
}
#categories{
    display: flex;
    justify-content: space-between;
    gap: 10vh;
    margin-bottom: 10vh;
}
#img-categorie{
    display: flex;
    width: 15vw;
    cursor: pointer;
    border-radius: 5px;
}
/*^^PAGINA HOME^^*/
