*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgb(31, 29, 29);
    text-transform: uppercase;
    text-decoration: none;
    overflow-x: hidden;
    overflow-y: visible;
}

html{
    width: 100vw;
    height: 100vh;
    font-size: 62,5%;
    display: flex;
}
.super-container{
    display: flex;
    height: 89vh;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
}
#card{
    display: flex;
    width: 40vw;
    flex-direction: column; 
    margin: 1vh;
    margin-bottom: 2vw;
    background-color: rgba(230, 230, 230, 0.411);
    padding: 2vh;
    border-radius: 1vh;
    justify-content: center;
}
#card img{
    width: 100%;
}
#btn_carrinho{
    height: 7vh;
    background-color: rgb(126, 180, 182);
    border: none;
}
